<div class="ui three top attached steps" >
  <a href=<%= new_lobby_path %> class="step">
    <i class="write icon"></i>
    <div class="content">
      <div class="title">Create a lobby</div>
      <div class="description">Choose a name and number of players</div>
    </div>
  </a>

  <div class="active step">
    <i class="setting icon"></i>
    <div class="content">
      <div class="title">Draft settings</div>
      <div class="description">Customize your draft experience</div>
    </div>
  </div>

  <div class="disabled step">
    <i class="clone icon"></i>
    <div class="content">
      <div class="title">Draft!</div>
      <div class="description">Draft your deck!</div>
    </div>
  </div>
</div>

<%= render_game_setup @lobby %>
