<h2>Generate Booster</h2>
<%= form_for @booster do |f| %>
  <%= f.collection_select :card_set_id, @sets, :id, :name, {}, class: "ui search dropdown" %>
  <br />
  <br />
  <%= f.button class: "ui black button" %>
<% end %>
