<%= form_for @sealed, url: export_sealed_path(@sealed), method: 'post' do |f| %>
  <div style='float: right; padding-top: 15px'>
    <%= submit_tag 'Exportar para TXT' %>
  </div>
  <%= render 'common/card', cards: @sealed.cards %>
<% end %>
