<div class='column'>
  <div class='card' id=<%= "card_#{card.id}" %> data-id=<%= card.id %>>
    <%= link_to card_path(card) do %>
      <img class="card-image" src=<%=card.image_url %>></img>
    <% end %>
  </div>
</div>
