<div class='ui stackable four column grid container'>
  <% @cards.each do |card| %>
    <div class='column'>
      <div class='card'>
        <h5><%= "#{card.name} #{card.mana_cost}"%></h5>
        <p class='card-type'><%= card.card_type %></p>
        <img src=<%=card.image_url %>></img>
      </div>
    </div>
  <% end %>
</div>
