<h2>Cards</h2>
<h6 style="color: red">This URL will self-destruct in 1 hour.</h6>
<% @cards.each do |card| %>
  <p><%= card.name %></p>
  <img src=<%=card.image_url %>></img>
  <p><%= card.card_type %></p>
  <p><%= card.text %></p>
  <br>
<% end %>
