<% if @cards.any? %>
  <div class="ui attached segment">
    <table class="ui single line cards table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Mana Cost</th>
        </tr>
      </thead>

      <tbody>
        <% @cards.each do |card| %>
          <tr>
            <td><%= link_to card.name, card_path(card) %></td>
            <td><%= card.card_type %></td>
            <td><%= card.mana_cost %></td>
          </tr>
        <% end %>
      </tbody>
      <%= paginate @cards %>
    </table>
  </div>
<% end %>
